* {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    
    
}

body {
    background-color: #1e1c1c;
    color: antiquewhite;
    margin-bottom: 150px;
    
   
}

.bg-img {
    background-image: url(../images/wallbackgroundblackblur.jpg);
    background-size:110% ;
    
    
   
}

h1 {
    font-size: 7em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin-top: 2em;
    font-weight: 900;
    color: rgb(233, 236, 236);
    text-shadow: 10px 10px 2px rgb(0, 0, 0);
    
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}


.menu {
    
    position: static;
    top: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    width: auto;
    
    
    
}

header {
    background-color: rgba(10, 10, 10, 0.692);
    height: 2%;
    color: #1e1c1c;
    overflow: hidden;
    z-index: 3;
    position: relative;
}

.menu li {
    float: center;
    list-style-type: none;
    display: inline;
    font-size: xx-large;
   
    margin: auto;
    
    

}

.active {
    border-bottom: 2px solid whitesmoke;
}

.menu a {
    text-decoration: none;
    color: #edeee7;
    text-align: center;

    
    

}

.menu a:hover {
    border-bottom: 2px solid rgb(243, 240, 240);
}


footer {
    bottom: 0;
    position:fixed;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#1e1c1c;
    left: 0;
    right: 0;
   width: 100%;
    font-size: 100%;
    gap: 1em;
   
    
    
}

.background-white {
    color: rgb(214, 29, 29);
}

.social-networks {
    
    flex: auto;
    gap: 2em;
    
    

}

.social-networks>li {
    display: inline;
    
}
.social-networks i {
    font-size: 350%;
    margin: 1%;
    padding: 1%;
    color: #edeee7;
    float: right;
    
}

.location {
    margin-top: 0;
    float: inline-start;

}


.images {
    display: flex;
    width: 100;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 200px;
    padding-top: 6em;
    padding-bottom: 6em;
   
}



.intro {
    margin-top: 1em;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    word-spacing: 0.2em;
    font-size: 25px;
    line-height: 1.3;
   
    
    
    width: fit-content;
    
    word-break: break-word;
    border-color: #1e1c1c;
    border-radius: 2em;
    background-color: #1e1c1d;
    position: relative;
   
   
    
   
}

.intro h2 {
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 1em;
    margin-block-end: 0;
    margin-block-start: 0;
    
}

.intro p {
    margin-top: 3%;
    width: 70%;

    
    
}

#heroimgbig {
    width: 100%;
    height: 770px;
    z-index: 1;
    position: absolute;
    
    object-fit: cover;
    
    top: 0;
}

#heroimgsmall {
    display: none;
}

#graph {
    flex-wrap: wrap;
    width: auto;
    float: left;
    clear: left;
    height: 30em;
    scale: 60%;
    
   
}

#main {
    margin-top: 700px;
    padding-top: 2em;
    
    background-color: #1e1c1c;
    padding-bottom: 5em;
    position: relative;
}

.imgindiv {
    width: 350px;
    height: auto;
    scale: 1;
    border: 1px solid #fff9f900;
   
}
.hover:hover {
    animation: imgzoom 1s;
    animation-fill-mode: both;
    overflow: hidden;
}

#endp {
    width: 100%;
    margin-top: 5em;
    padding-top: 5em;
    font-size: xx-large;
    background-color: #1e1c1c;
    height: fit-content;
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 4em;
}

.images div {
    position: relative;
}

.centered {
    position: absolute;
    bottom: 8%;
    right: 4%;
    
    color: #edeee7;
   
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(230, 224, 224);
    background-color :#1e1c1c;
    padding: 6px;
    
   
}

@media screen and (max-width: 950px) {
   
    .bg-img {
        background-size:400% ;
    }

    nav  
        {width: 100%;
        height: 50px;}
    
            .intro {
                font-size: xx-large;
                text-align: left;
            }

    .menu a{
        width: fit-content;
        font-size: 15px;
        font-weight: 700;
    }

    footer {
        width: 100%;
    }
   #heroimgbig {
    display: none;
   }

   #heroimgsmall {
    display: block;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    height: 600px;
    top: 0;
    
   }
   body {
    position: absolute;
    width: 100vw;
   }
   
   .intro p {
    width: auto;
    text-align: center;
    font-size: x-large;
    
   }

   .intro h2 {
    margin-top: 1.5em;
    font-size: xx-large;
    margin-bottom: 1.5em;
   }
    .hide {
        display: none;
    }
   

    h1 {
        font-size: 3.5em;
    }
    #graph{
       margin: 0;
       padding: 0px;
        overflow: hidden;
        width: 100%;
        height: auto;
        scale: 1;
        
        
    }
    #endp {
        padding-top: 0;
        margin-top: 2em;
        padding-bottom: 8em;
    }

    #main {
       margin-top: 34em;
       
    }

    .images {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 1em;
        padding-top: 3em;
        padding-bottom: 3em;
    }
   
    .imgindiv {
        width: 99%;
        height: auto;
        top: 0;
        margin: 0;
        scale: 0.9;
        
        
    }

    .social-networks i {
        font-size: 200%;
        margin-bottom: 0.8em;
        margin-right: 10px;
        
} 

.centered {
    right: 8%;
    bottom: 16%;
}
}

@keyframes imgzoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    }
