* {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(223, 165, 165);
    font-family: Tahoma, Verdana, sans-serif;
    
    
}

body {
    background-color: #1e1c1c;
    color: antiquewhite;
    
}

h1 {top: 0;
    position: fixed;
    left: 20%;

}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

nav {
    margin: 0 auto;
    margin-left: 40%;
    margin-left: 38%;
    position: fixed;
    top: 0;
    
}

header {background-color: rgba(255, 255, 255, 0.993);
height: 2.8em;
color: #1e1c1c;
}

.menu li {
    float: center;
    list-style-type: none;
    display: inline;
    font-size: xx-large;
    background-color: silver;

}

.active {
    border-bottom: 2px solid whitesmoke;
}

.menu a {
    text-decoration: none;
    color: inherit;
    background-color: whitesmoke

}

.menu a:hover {
    border-bottom: 2px solid rgb(243, 240, 240);
}


footer {
    bottom: 0;
    position:fixed;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    left: 0;
    right: 0;
    gap: 2em;
    font-size: 100%;
    
    
}

.background-white {
    color: rgb(214, 29, 29);
}

.social-networks {
    display: flex;
    justify-content: flex-end;
    flex:1;
    gap: 2em;


}

.social-networks>li {
    display: inline;
}
.social-networks i {
    font-size: 350%;
    margin: 1%;
    padding: 1%;
    color: #edeee7;
    
    
    
}

.location {
    margin: auto;
    float: left;

}

.images {
    display: flex;
    width: 100;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}



.intro {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 53%;
    word-spacing: 0.2em;
    font-size: x-large;
    color: antiquewhite;
    
    word-break: break-all;
    
   
}

.intro h2 {
    right: 20%;
    
}

.intro p {
    width: 70%;
    
    
}

#graph {
    flex-wrap: wrap;
    width: auto;
    float: left;
    clear: left;
    height: 300px;
    scale: 80%;
    margin-left: 3em;
    margin-top: 5em;
   
}

#main {
    clear: both;
    width: 100%;
}