* {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace
    
    
}

body {
    background-color: #1e1c1c;
    color: antiquewhite;
    margin-bottom: 150px;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    margin-top: 1em;
    font-family: 'Courier New', Courier, monospace
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

.menu {
    margin: auto;
    position: static;
    top: 0;
    display: flex;
    justify-content: center;
    
    
    
    
}

header {
    background-color: rgba(255, 255, 255, 0.993);
    height: 2%;
    color: #1e1c1c;
    overflow: hidden;
    
}

.menu li {
    float: center;
    list-style-type: none;
    display: inline;
    font-size: xx-large;
   
    margin: auto;
    
    

}

.active {
    border-bottom: 2px solid whitesmoke;
}

.menu a {
    text-decoration: none;
    color: inherit;
    background-color: whitesmoke;
    float: none;
    text-align: center;
    
    

}

.menu a:hover {
    border-bottom: 2px solid rgb(243, 240, 240);
}


footer {
    bottom: 0;
    position:fixed;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color:#1e1c1c;
    left: 0;
    right: 0;
    gap: 2em;
    font-size: 100%;
    
    
}

.background-white {
    color: rgb(214, 29, 29);
}

.social-networks {
    display: flex;
    justify-content: flex-end;
    flex:1;
    gap: 2em;


}

.social-networks>li {
    display: inline;
}
.social-networks i {
    font-size: 350%;
    margin: 1%;
    padding: 1%;
    color: #edeee7;
    
    
    
}

.location {
    margin: auto;
    float: left;

}

.images {
    display: flex;
    width: 100;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
}



.intro {
    margin-top: 1em;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    word-spacing: 0.2em;
    font-size: 1.7em;
    line-height: 1.3;
   
    
    
    width: fit-content;
    
    word-break: break-word;
    border-color: #1e1c1c;
    border-radius: 2em;
    
   
}

.intro h2 {
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    
}

.intro p {
    margin-top: 3%;
    width: 70%;
    
    
}

#graph {
    flex-wrap: wrap;
    width: auto;
    float: left;
    clear: left;
    height: 300%;
    scale: 80%;
    margin-left: 3em;
    margin-top: 5em;
   
}

#main {
    margin-top: 8%;
}

.imgindiv {
    width: 300px;
    height: auto;
    scale: 1;
}

@media screen and (max-width: 950px) {
   
    #graph{
        margin-left: 0; 
        width: 100%;
    }
    .images {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .imgindiv {
        width: 100%;
        height: auto;
        top: 0;
        margin: 0;
        scale: 0.9;
        
        
    }
} 